<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <classes>
            <class name="test.validation.ToyValidatorTest" />
        </classes>
    </test>

    <test name="WorkWithTxt">
        <classes>
            <class name="test.parser.ToyParserTest"/>
            <class name="test.reader.ToyReaderTest"/>
        </classes>
    </test>
</suite>
